@font-face {
  font-family: "HelveticaNeueLTProLt";
  src: url("../fonts/HelveticaNeueLTProLt.otf") format("opentype");
}

@font-face {
  font-family: "HelveticaNeueLTProMd";
  src: url("../fonts/HelveticaNeueLTProMd.otf") format("opentype");
}

@font-face {
  font-family: "HelveticaNeueLTProRoman";
  src: url("../fonts/HelveticaNeueLTProRoman.otf") format("opentype");
}

@font-face {
  font-family: "Merriweather-LightItalic";
  src: url("../fonts/Merriweather-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Monserrat-Regular";
  src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  padding: 0;
  margin: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0, 15px;
}

.container .menu {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .menu-item a {
  font-family: "Roboto-Regular", sans-serif;
  font-size: 13px;
  line-height: 17px;
  font-weight: 400;
  text-decoration: none;
  letter-spacing: 0.04em;
  color: #989696;
  margin: 0 22px;
}

.active a {
  color: #010101;
}

.logo {
  margin: 0 16px;
}

.header-title {
  text-align: center;
  font-size: 44px;
  line-height: 41px;
  font-weight: 400;
  margin: 207px auto 4px;
  letter-spacing: 0.02em;
  color: #c9c9c9;
  font-family: "helveticaNeueLTProLt", sans-serif;
}

.header-text {
  text-align: center;
  font-family: "Merriweather-LightItalic", serif;
  font-size: 16px;
  line-height: 17px;
  font-weight: 300;
  font-style: italic;
  letter-spacing: 0.03em;
  color: #898888;
  margin: 0 auto 43px;
}

.header-button {
  font-family: "Monserrat-Regular", sans-serif;
  font-size: 13px;
  line-height: 17px;
  font-weight: 400;
  letter-spacing: 0.04em;
  color: #000000;
  text-decoration: none;
  width: 188px;
  height: 57px;
  border: 1px solid #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto 206px;
}

.about-inner {
  background: url(../img/buildings__black_3164.png) center bottom repeat-x, #1d1d1d;
  height: 1129px;
  padding-top: 128px;
  padding-bottom: 271px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: max-content max-content;
      grid-template-rows: -webkit-max-content -webkit-max-content;
      grid-template-rows: max-content max-content;
  -ms-grid-columns: max-content max-content;
      grid-template-columns: -webkit-max-content -webkit-max-content;
      grid-template-columns: max-content max-content;
  grid-gap: 178px;
  place-content: center center;
}

.about-inner .about-item {
  width: 417px;
  height: 276px;
  background-color: #181818;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.about-inner .about-item .about-year {
  font-family: "helveticaNeueLTProLt", sans-serif;
  font-size: 48px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #fefefe;
  margin-bottom: 27px;
}

.about-inner .about-item .about-text {
  font-family: "Monserrat-Regular", sans-serif;
  font-size: 15px;
  line-height: 22px;
  font-weight: 300;
  letter-spacing: 0.02em;
  color: #b7b7b7;
}
/*# sourceMappingURL=style.css.map */